header {
  /* overflow: hidden; */
  background: transparent;
  position: sticky;
  top: 0;
  z-index: 999;
  height: 55px;
}

nav {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  padding: 1 2rem;
}

.header-container-item {
  background-color: transparent;
  font-weight: 510;
  color: dark white;
  border: 0px;
  text-decoration: none;
  padding: 25px;
  font-size: 30px;
  line-height: 1px;
  transition: all 0.3s ease;
}

.header-container-item:hover {
  color: #30b5dd;
  font-size: 35px;
}

@media (prefers-color-scheme: dark) {
   body {
    background-color: #a83030;
    color: #fff;
   }
}